@import url(https://fonts.bunny.net/css?family=krub:200i,300);
@layer demo, base;

@layer demo {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    /* height: 500px; */
    /* width: min(100%, 600px); */
    margin: 0 auto;
  }
  .scroll-container {
    --card-border-radius: 10px;

    --thumb-color: rgb(0, 188, 255);
    --thumb-color-active: dodgerblue;
    --thumb-width: 4;
    --thumb-width-active: 6;
    --thumb-opacity: 0.3;

    --track-color: transparent;
    --track-color-active: light-dark(#eee, #222);
    --track-width: 4;
    --track-width-active: 6;

    /* styling for the second card */
    /* &.box-2{
      --card-border-radius: 20px;
    	--thumb-color: rgb(154, 230, 0);
    	--thumb-color-active: rgb(124, 207, 0); } */

    position: relative;
    width: 100%;
    height: 100%; /* 부모의 높이를 상속 */
    contain: size;
    margin: 0 auto;
    border: 1px solid var(--clr-lines);
    border-radius: var(--card-border-radius);
    overflow: hidden;
    & h2 {
      text-wrap: balance;
      font-size: 1.1rem;
    }
    & img {
      max-width: 100%;
      display: block;
    }
  }

  .scroll-content {
    height: 100%;
    overflow-y: auto;
    padding: 1rem 1.5rem 1rem 1rem; /* space on right for scrollbar */

    /* keep scrolling functional */
    overflow-y: scroll;

    /* hide scrollbars */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge Legacy */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }
  }
  .scrollbar-svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    &:has(:active) {
      --thumb-width: var(--thumb-width-active);
      --track-width: var(--track-width-active);
      --track-color: var(--track-color-active);
    }
  }

  .scrollbar-track {
    fill: none;
    stroke: var(--track-color);
    stroke-width: var(--track-width);
    stroke-linecap: round;
    transition:
      stroke-width 150ms ease-in-out,
      stroke 150ms ease-in-out;
  }
  .scrollbar-thumb {
    fill: none;
    stroke: var(--thumb-color);
    stroke-width: var(--thumb-width);
    stroke-linecap: round;
    stroke-opacity: var(--thumb-opacity, 0.3);
    pointer-events: auto;
    cursor: grab;
    transition:
      stroke-width 150ms ease-in-out,
      stroke 150ms ease-in-out,
      stroke-opacity 300ms ease-in-out;
    &:active {
      stroke: var(--thumb-color-active);
      cursor: grabbing;
    }
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }
  :root {
    color-scheme: light dark;

    --bg-dark: rgb(11, 11, 11);
    --bg-light: rgb(248, 244, 238);
    --txt-light: rgb(10, 10, 10);
    --txt-dark: rgb(245, 245, 245);
    --line-light: rgba(0 0 0 / 0.15);
    --line-dark: rgba(255 255 255 / 0.25);

    --clr-bg: light-dark(var(--bg-light), var(--bg-dark));
    --clr-txt: light-dark(var(--txt-light), var(--txt-dark));
    --clr-lines: light-dark(var(--line-light), var(--line-dark));
    --clr-accent: dodgerblue;
  }

  html,
  body {
    background-color: var(--clr-bg);
    color: var(--clr-txt);
    font-family: "Krub", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100svh;
  }

  body {
    display: grid;
    place-content: center;
    gap: 0;
    padding: 1rem;
    line-height: 1.4;
  }
  header {
    text-align: center;
    text-wrap: balance;
    width: min(100%, 60ch);
    margin: 0 auto;
  }
  h1 {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
  }
  p {
    font-size: 0.8rem;
    opacity: 0.9;
  }
}
